extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/submitEmail', method='post')
    input(type='text', name='email')
    input(type='submit', value='Go!!')

block scripts
  script(src='/javascripts/bundle.js')